div.footer{
	border-top: 3px solid var(--color-theme);
	padding-top: 75px;
	background-color: var(--color-theme2);
	color: rgba(255, 255, 255, 0.75);
	font-size: 14px;
}

.footer .text h4{
	border-left: 3px solid var(--color-theme);
	padding-left: 10px;
	color: #fff;
}

.footer .text ul{
	list-style: none;
	padding: 0 10px;
}

.footer .text ul li{
	margin-bottom: 10px;
}

.footer .text ul li:last-child{
	margin-bottom: 0;
}

.footer .text ul li a{
	color: inherit;
	text-decoration: none;
	transition: .3s ease;
}

.footer .text ul li a:hover{
	color: var(--color-theme);

}

.footer hr{
	 background-color: rgba(255, 255, 255, 0.5);
}

.footer .social-media{
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer .social-media .icon{
	display: inline-block;
	padding: 10px;
	margin: 0 15px;
	transition: .3s ease;
}

.footer .social-media .icon:hover{
	background-color: var(--color-theme);
}

.footer .social-media a{
	text-decoration: none;
	font-size: 18px;
	color: inherit;
	transition: .3s ease;
}

.footer .copyright{
	padding: 15px 0 2px 0;
	text-align: center;
	font-size: 12px;
}





