/*-------------Main-Section-------------*/

/*-----------Collections-----------*/

main{
	margin-top: 100px;
}

.grid-3 .collection-card{
	flex: 1;
	height: 180px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.collection-card:hover img{
	transform: scale(1.2);
}

.collection-card img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .3s ease;
}

.collection-card .info{
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.collection-card .info::before{
	content: '';
	position: absolute;
	width: 500px;
	height: 200px;
	background-color: var(--color-theme);
	opacity: .9;
	top: 0;
	left: 0;
	z-index: -1;
	transform: rotate(130deg) translate(10px, 170px);
}

.collection-card .info h1{
	font-size: 24px;
	width: 50%;
	color: #fff;
	margin-bottom: 20px;
}

.collection-card .info a{
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
}

.collection-card .info a i{
	background-color: #fff;
	font-size: 12px;
	padding: 2px;
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.5);
}

/*--------------Banner---------------*/

section.opening-banner{
	margin: 100px 0;
}

div.banner{
	position: relative;
	width: 100%;
	height: 300px;
	background-attachment: fixed;
	background-size: cover;
}

div.banner::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

div.banner .banner-text{
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

div.banner .banner-text h1{
	color: #fff;
	text-align: center;
	font-size: 34px;
}

div.banner .banner-text a{
	position: relative;
	display: block;
	background-color: var(--color-theme);
	color: white;
	padding: 10px 20px;
	text-decoration: none;
	transition: .3s ease;
	margin-bottom: -20px;
}

div.banner .banner-text a:hover{
	opacity: .9;
}


@media only screen and (max-width: 520px)
{
	
	main{
		margin-top: 40px;
	}

	/*Collections*/
	.collection-card .info h1{
		font-size: 20px;
	}
}

@media only screen and (max-width: 340px)
{
	div.banner .banner-text h1{
		font-size: 30px;
	}
}





















