
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*-------Grid-------*/

/*Grid Fix*/
.gridx-2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
}

.gridx-2.center{
	justify-items: center;
	align-items: center;
}

.grid-3{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 20px;
}

/*----Content-Title-----*/
.content-title{
	position: relative;
	display: inline-block;
	margin: 20px 0;
	padding-bottom: 2px;
	font-size: 26px;
}

.content-title:first-letter{
	font-size: 32px;
}

.content-title::after{
	content: '';
	position: absolute;
	width: 80%;
	height: 3px;
	bottom: 0;
	right: 0;
	background-color: var(--color-theme);
	border-radius: 5px; 
}

/*-------------------Product-Card-------------------*/
.product-card{
	position: relative;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	transition: .3s ease;
}

.product-card:hover{
	box-shadow: 0 0 10px var(--color-theme);
}

.product-card .product-img{
	position: relative;
}

.product-card .product-img img{
	width: 100%;
	height: 180px;
	object-fit: cover;
}

.product-card .product-img .product-label{
	position: absolute;
	top: 5px;
	right: 5px;
}

.product-card .product-img .product-label span{
	border: 2px solid var(--color-theme);
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 10px;
}

.product-card .product-img .product-label span.new{
	background-color: var(--color-theme);
	color: #fff;
}

.product-card .product-img .product-label span.sale{
	background-color: #fff; 
	color: var(--color-theme);
}

.product-card .product-body{
	padding: 10px;
	text-align: center;
}

.product-card .product-body .product-category{
	color: rgba(0, 0, 0, 0.5);
	text-transform: uppercase;
	margin: 0;
	font-size: 90%;
}

.product-card .product-body .product-name{
	text-decoration: none;
	font-size: 100%;
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8);
	transition: .3s ease;
}

.product-card .product-body .product-name:hover{
	color: var(--color-theme);
}

.product-card .product-body .product-price{
	font-size: 16px;
	color: var(--color-theme);
}

.product-card .product-body .product-price .old-price{
	color: rgba(0, 0, 0, 0.5);
	font-size: 12px;
}

.product-card .product-body .product-rating{
	margin-bottom: 10px;
}

.product-card .product-body .product-rating p{
	display: inline-block;
	margin: 0 15px;
	font-size: 15px;
	cursor: pointer;
}

.product-card .product-body .product-rating p span{
	font-size: 13px;
	color: rgba(0, 0 ,0, 0.5);
}

.product-card .product-body .product-btns{
	display: flex;
	justify-content: space-around;
}

.product-card .product-body .product-btns a.btn-add-to-cart{
	width: 100%;
	display: block;
	padding: 2px 0;
	text-decoration: none;
	box-sizing: border-box;
	border: 2px solid var(--color-theme);
	transition: .3s ease;
	background-color: #fff;
	color: var(--color-theme);
	text-transform: uppercase;
}

.product-card .product-body .product-btns a.btn-add-to-cart:hover{
	color: #fff;
	background-color: var(--color-theme);
}

.side-bar-toggle{
	width: 40px;
	height: 30px;
}

.side-bar-toggler{
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	color: #fff;
	border: solid 1px #fff;
	border-radius: 5px;
}

.side-bar-toggler:hover{
	background-color: #fff;
	color: #000;
}

/*------Display-Types------*/

.mobile-only{
	display: none;
}

.desktop-only{
	display: block;
}

@media only screen and (max-width: 520px)
{
	.grid-3{
		grid-template-columns: 1fr 1fr;
	}

	.mobile-only{
		display: block !important;
	}

	.desktop-only{
		display: none !important;
	}

	.card-product{
		width: 150px;
	}

	.card-product .product-img{
		height: 40%;
	}

	.card-product .product-info .category-name{
		font-size: 12px;
	}

	.card-product .product-info .product-name{
		font-size: 13.5px;
	}

	.card-product .product-info .price .new{
		font-size: 14px;
	}

	.card-product .btn-cart{
		font-size: 14px;
	}

	.card-product .btn-cart i{
		font-size: 12px;
	}

	.side-bar-container{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		pointer-events: none;
	}

	.side-bar-container.open{
		pointer-events: all;
	}

	.side-bar-container .overlay{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 1;
		opacity: 0;
		transition: .3s ease;	
	}

	.side-bar-container.open .overlay{
		opacity: 1;
	}

	.side-bar-container .side-bar{
		position: absolute;
		width: 240px;
		height: 100%; 
		top: 0;
		right: 0;
		background-color: #eaeaea;
		padding: 80px 20px;
		overflow-y: auto;
		transform: translateX(100%);
		transition: .3s ease;
		z-index: 2;
	}

	.side-bar-container.open .side-bar{
		transform: translateX(0);
	}

	.side-bar-container .side-bar .close{
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}

	.search-product{
		display: flex;
		width: 100%;
		border-radius: 20px;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
	}

	.search-product .search-input{
		width: 100%;
		border: none;
		padding: 0 20px;
		font-size: 12px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		outline: none;
	}

	.search-product .search-button{
		width: 30%;
		font-size: 14px;
		padding: 3px 0;
		border: none;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		outline: none;
		background-color: var(--color-theme);
		color: #fff;
	}

	.side-bar .links{
		/*background-color: red;*/
		margin: 25px 0;
	}

	.side-bar .links ul{
		list-style: none;
	}

	.side-bar .links li{
		margin: 20px 0;
	}

	.side-bar .links .link{
		text-transform: uppercase;
		text-decoration: none;
		color: rgba(0, 0, 0, 0.5);
		font-weight: 500;
		font-size: 14px;
	}

	.side-bar .links .link:hover{
		color: var(--color-theme);
	}


	.side-bar-title{
		font-size: 12px;
		color: rgba(0, 0, 0, 0.5);
		text-align: center;
		border-bottom: 1px solid rgba(0, 0, 0, 0.2);
		padding-bottom: 10px;
	}

	.side-bar .categories{
		margin: 40px 0;
	}

	.side-bar .category .category-name{
		font-size: 16px;
		display: flex;
		justify-content: space-between;
		padding-right: 5px;
		align-items: center;
		position: relative;
		z-index: 1;
	}

	.side-bar .category .category-name a{
		color: rgba(0, 0, 0, 0.7);
		text-decoration: none;
		transition: .3s ease;
	}

	.side-bar .category .category-name a.open{
		color: var(--color-theme);
	}

	.side-bar .category .category-name a:hover,
	.side-bar .category .category-name .sub-menu-opener:hover{
		color: var(--color-theme);
	}

	.side-bar .category .category-name .sub-menu-opener{
		cursor: pointer; 
		transition: .3s ease;
	}

	.side-bar .category .category-name .sub-menu-opener.open{
		color: var(--color-theme);
		transform: rotate(90deg);
	}

	.side-bar .category .sub-category{
		height: 0px;
		overflow-y: auto;
		background-color: rgba(255, 255, 255, 0.5);
		transition: height .3s ease;
	}

	.side-bar .category .sub-category.open{
		height: 120px;
	}

	.side-bar .category .sub-category ul{
		list-style: none;
		text-align: center;
	}

	.side-bar .category .sub-category ul li a{
		text-decoration: none;
		color: rgba(0, 0, 0, 0.7);
		font-size: 14px;
	}

	.side-bar .category .sub-category ul li a:hover{
		font-weight: bold;
	}


}


@media only screen and (max-width: 340px) 
{
	.grid-3{
		grid-template-columns: 1fr;
	}

	.card-product{
		width: 100px;
	}

	.card-product .product-info .category-name{
		font-size: 10px;
	}

	.card-product .product-info .product-name{
		font-size: 11.5px;
	}

	.card-product .product-info .price .new{
		font-size: 12px;
	}

	.card-product .btn-cart{
		font-size: 12px;
	}

	.card-product .btn-cart i{
		font-size: 10px;
	}
}
